{:module-uris {:main [], :landing-view ["/js/landing-view.48cf69f.js"], :video-background ["/js/video-background.48cf69f.js"], :budget-view ["/js/budget-view.48cf69f.js"], :mockup-view ["/js/mockup-view.48cf69f.js"]}, :module-infos {:main nil, :landing-view #{:main}, :video-background #{:main}, :budget-view #{:main}, :mockup-view #{:main}}}