@import url("https://use.typekit.net/bsd2yit.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'FiraCode';
    src: url('../fonts/fira/FiraCode-VF.woff2') format('woff2'),
         url('../fonts/fira/FiraCode-VF.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }

@font-face {
  font-family: "futura-100";
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "futura-100";
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "futura-100";
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "futura-100";
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "futura-100";
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "futura-100";
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "futura-100-book";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "futura-100-book";
  font-weight: 400;
  font-style: italic;
}

.v-for-w {
  width: 100vh;
}

.hero-nav-links {
    color: #131313;
}

.my-buddy {
    animation: fadeInBorder 5s ease-in-out forwards;
    animation-delay: 1s;
    border-bottom: 2px solid transparent;
  }

  @keyframes fadeInBorder {
    from {
      border-color: transparent;
    }
    to {
      border-color: #000;
    }
  }

.massive-title {
    font-size: 24em;
    font-family: "FiraCode-SemiBold";
    color: #EAEAEA;
    opacity: 0;
    
    letter-spacing: -0.1em;
    pointer-events: false;
}

.flash-text{
    font-size:20rem;
    letter-spacing: -1rem;
    text-align:middle;
    text-anchor:middle;
    stroke-width:10px;
    
    fill: rgba(255, 239, 239, 0.8);
  }

.orange-grad {
    background: linear-gradient(246.25deg, #FFC700 -88.21%, #EE0909 174.55%);
}

.blue-grad {
    background: linear-gradient(246.25deg, #4260FC -88.21%, #00FF38 174.55%);
}

.grey-grad {
    background: linear-gradient(246.25deg, #222222 -88.21%, #0F0F0F 174.55%);
}

.purple-grad {
    background: linear-gradient(246.25deg, #8D43A7 -88.21%, #FC4242 174.55%);
}

.pink-grad {
    background: linear-gradient(246.25deg, #dd0ba2 -88.21%, #752941 174.55%);
}

.blue-light-grad {
     background: linear-gradient(246.25deg, #74BCC4 -88.21%, #D7FAFF 174.55%);
}

.light-red-grad {
     background: linear-gradient(246.25deg, #C47474 -88.21%, #FFF2E8 174.55%);
}

.blue-purple-grad {
     background: linear-gradient(125.25deg, #49A1FF -88.21%, #D089FF 174.55%);
}

.playable-text-background {
    background-color:rgba(238, 29, 35, 0.71);
}

.section-background {
    z-index: -1;
}

.warm-yellow {
  background-color: #FFD400;
}

.deep-yellow {
  background-color: #FCB93D;
}

.light-blue-font-color {
  color: #24A399;
}


.background-video mux-player {
  --media-object-fit: cover;
  --media-object-position: center;
  /* Hide all controls at once */
  --controls: none;

  /* Hide the error dialog */
  --dialog: none;

  /* Hide the loading indicator */
  --loading-indicator: none;

  /* Target all sections by excluding the section prefix */
  --play-button: none;
  --live-button: none;
  --seek-backward-button: none;
  --seek-forward-button: none;
  --mute-button: none;
  --captions-button: none;
  --airplay-button: none;
  --pip-button: none;
  --fullscreen-button: none;
  --cast-button: none;
  --playback-rate-button: none;
  --volume-range: none;
  --time-range: none;
  --time-display: none;
  --duration-display: none;

  /* Target a specific section by prefixing the CSS var with (top|center|bottom) */
  --center-controls: none;
  --bottom-play-button: none;
}